/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  overflow: hidden;
}

.cover-container {
  max-width: 42em;
}

a{
  cursor: pointer;
}
/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}



 


.ocean { 
  height: 1%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}



.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Light Mode styles */

 body {
   background: #fff9ed;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100vw;
   flex-wrap: wrap;
   padding: 40px 0;
}
 .container .card {
   position: relative;
   width: 320px;
   height: 440px;
   box-shadow: 0px 0px 15px rgb(40, 0, 179);
   border-radius: 15px;
   margin: 30px;
}
 .container .card .box {
   position: absolute;
   top: 20px;
   right: 20px;
   bottom: 20px;
   left: 20px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
}
 .container .card .box .content {
   padding: 20px;
   text-align: center;
}
 .container .card .box .content img {
   position: absolute;
   top: 5px;
   right: 10px;
   width: 65px;
   pointer-events: none;
}
 .container .card .box .content h3 {
   font-size: 1.8em;
   color: #777;
   z-index: 1;
   transition: 0.5s;
}
 .container .card .box .content p {
   font-size: 1em;
   color: #777;
   z-index: 1;
   transition: 0.5s;
}
 .container .card .box .content a {
   position: relative;
   display: inline-block;
   padding: 8px 20px;
   background: #409eff;
   margin-top: 15px;
   border-radius: 20px;
   color: #fff;
   text-decoration: none;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
 .container .card:hover .box .content a {
   background: #ff4049;
}
 .container .card:hover .box {
   transform: translateY(-50px);
   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
   background: linear-gradient(45deg, #b95ce4, #4f29cd);
}
 .container .card:hover .box .content h3, .container .card:hover .box .content p {
   color: #fff;
}
/* Dark Mode styles */
 body.dark-theme {
   background: #232427;
}
 body.dark-theme .card {
   box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}
 body.dark-theme .card .box {
   background: #2a2b2f;
   box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
 body.dark-theme .card .box .content h3 {
   color: rgba(255, 255, 255, 0.9);
}
 body.dark-theme .card .box .content p {
   color: rgba(255, 255, 255, 0.9);
}
 body.dark-theme .card .box .content a {
   background: #000;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
 body.dark-theme .container .card:nth-child(1) .box .content a {
   background: #ffcc70;
}
 body.dark-theme .container .card:nth-child(2) .box .content a {
   background: #c850c0;
}
 body.dark-theme .container .card:nth-child(3) .box .content a {
   background: #4158d0;
}
 body.dark-theme .container .card:hover .box {
   background-color: #4158d0;
   background-image: linear-gradient(43deg, #ffcc70 0%, #c850c0 46%, #4158d0 100%);
}
/*Checkbox Button*/
 .center {
   position: absolute;
   top: 3%;
   right: 3%;
}
 .center input[type="checkbox"] {
   position: relative;
   width: 80px;
   height: 30px;
   -webkit-appearance: none;
   background: #111;
   outline: none;
   cursor: pointer;
   border-radius: 20px;
   box-shadow: 0 0 0 2px #1f1f1f, inset -2px -2px 5px rgba(255, 255, 255, .1), inset 2px 2px 5px rgba(0, 0, 0, .5);
   transition: 0.5s;
}
 .center input:checked[type="checkbox"] {
   background: #00c9ff;
   box-shadow: 0 0 0 2px #1f1f1f, 0 10px 20px rgba(0, 0, 0, .5), inset 0 0 5px rgba(0, 0, 0, 1), inset 0 0 15px rgba(0, 0, 0, .5);
}
 .center input[type="checkbox"]:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 60px;
   height: 30px;
   background: linear-gradient(to top, #000, #6b6b6b);
   border-radius: 20px;
   box-shadow: 0 0 0 1px #232323;
   transform: scale(0.98, 0.96);
   transition: 0.5s;
}
 .center input:checked[type="checkbox"]:before {
   left: 20px;
}
 .center input[type="checkbox"]:after {
   content: '';
   position: absolute;
   top: calc(50% - 2px);
   left: 45px;
   width: 4px;
   height: 4px;
   background: #f00;
   box-shadow: 0 0 5px #f00, 0 0 15px #f00, 0 0 30px #f00;
   border-radius: 50%;
   transition: 0.5s;
}
 .center input:checked[type="checkbox"]:after {
   background: #00c9ff;
   left: 65px;
   box-shadow: 0 0 3px #00c9ff, 0 0 9px #00c9ff, 0 0 27px #00c9ff;
}